.api_main_type1 {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
}

.contents_main_type1 {
  height: 80vh;
  margin: 2em;
}

.button_right_type1 {
  display: flex;
  justify-content: flex-end;
}

.table > tbody > tr > td {
  vertical-align: middle;
}